
@{
    ViewData["Title"] = "Questions";
}
<h2>Questions</h2>


<p1>look what you done</p1>

<div class="main-container">
    <div class="side-navbar"> 
    <a>Dashboard</a>
    <a>Users</a>
    <a>Tutorials</a>  
    </div>

    <div class="box-curved" >
    <div class="top">Questions</div>
    <div class="bottom">



    </div>
    
    </div>
</div>




<style>

    .main-container {
       display:grid;
       grid-template-columns:15% 75%;
        background-color: #ccc;
        height: 100vh;
        
    }

     .side-navbar
     {
         background-color:grey;
     }
    .side-navbar a 
    {
        display:block;
        font-size:25px;
        text-align:center;
        background-color:purple;

    }

    

    .top{
        background-color:blue;
        height:48vh;
       margin-bottom:4vh;
    }

     .bottom{
        background-color:darkgreen;
        height:48vh;
    }
</style>

