
@{
    ViewData["Title"] = "Questions";
}
<h2>Questions</h2>


<div class="main-container">
    <div class="side-navbar"> 
    <a>Dashboard</a>
    <a>Users</a>
    <a>Tutorials</a>  
    </div>

    <div class="box-curved" >
    <div class="top">
        <div class="question-curve">Question</div>
    </div>
    <div class="bottom">

        <div class="textbox-curve">Question-curve</div>
        <div class="textbox-curve">Question-curve</div>
        <div class="textbox-curve">Question-curve</div>
        <div class="textbox-curve">Question-curve</div>


    </div>
    
    </div>
</div>




<style>

    .main-container {
       display:grid;
       grid-template-columns:15% 75%;
        background-color: #ccc;
        height: 100vh;
        
    }

     .side-navbar
     {
         background-color:grey;
     }
    .side-navbar a 
    {
        display:block;
        font-size:25px;
        text-align:center;
        background-color:purple;

    }

    

    .top{
        background-color:dimgrey;
        height:30vh;
       margin-bottom:4vh;
       
    }

     .bottom{
        background-color:dimgrey;
        height:66vh;
    }

     .question
     {
         background-color:purple;
         margin-left:30px;
         
         
     }

     .textbox-curve
     {
         background-color:blue;
         border-radius:2vmin;
     }

     

     
</style>

